.container{
    color: white;
}
.navbar{
    background-color: #242525;
}
.container a{
    text-decoration: none;
    color: #FEF6E6;
}
.welcome-section{
    background-color: #242525;
    color: #FEF6E6;
    position: relative;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.content{
    /* display:flex; */
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 1200px;
    padding: 20px;
    gap: 40px;
 
}

.text-section{
    max-width: 600px;
}
.text-section h1{
    margin-bottom: 20px;
}
.text-section p{
    font-size: 2rem;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    margin-left: 5vw;
    gap: 15px;
    text-align: center;
}
.btn{
    padding: 10px;
    border-radius: 5px;
}
.buttons a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    background: white;
    transition: background 0.3s ease;
}
.buttons a:hover{
    background:black;
    color:white;
}

.container a:hover{
    text-decoration:underline;
    color:#f5d79b;
}
